h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

#about {
  height: 800px;
  border: 1px solid black;
  position: relative;
}

.imageWrapper {
  text-align: center;
}

.knowContainer {
  height: 150px;
  position: relative;
  overflow: hidden;
  background-color: lightgrey;
  border-radius: 10px;
}

.knowBanner {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
  white-space: nowrap;
  animation: knowBannerMove 30s linear infinite;
  display: flex;
  align-items: center;
}

.knowBanner img {
  margin: 0 0.5em;
  width: 200px;
  height: 100px;
  object-fit: contain;
  display: inline;
}

@keyframes knowBannerMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}

.learnContainer {
  height: 150px;
  position: relative;
  overflow: hidden;
  background-color: lightgrey;
}

.learnBanner {
  position: absolute;
  top: 0px;
  right: 0px;
  overflow: hidden;
  white-space: nowrap;
  animation: learnBannerMove 20s linear infinite;
  height: 100%;
  display: flex;
  align-items: center;
}

.learnBanner img {
  margin: 0 1.5em;
  width: 200px;
  object-fit: contain;
  height: 100px;
}

@keyframes learnBannerMove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(50%, 0);
  }
}

.portrait {
  width: 200px;
  border-radius: 50px 0px;
  text-align: center;
}

.leftFade {
  height: 100%;
  width: 4vw;
  left: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(to right, lightgray, rgba(255, 255, 255, 0));
  z-index: 1;
}

.rightFade {
  height: 100%;
  width: 4vw;
  right: 0;
  top: 0;
  position: absolute;
  background: linear-gradient(to left, lightgray, rgba(255, 255, 255, 0));
  z-index: 1;
}
