h1 {
  margin: 0;
  font-size: 3vw;
}

h1 em {
  color: maroon;
  font-style: normal;
}

.landingScreen {
  width: 100vw;
  height: 100vh;
  background: lightskyblue;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portrait {
  width: 20%;
  border-radius: 50px 0px;
}
