h1 {
  margin: 0;
  font-size: 3vw;
}

.background {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.landingScreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portrait {
  width: 20%;
  border-radius: 50px 0px;
}

.landingSpinner {
  transform-style: preserve-3d;
  animation: animate 12s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(900px) rotateY(360deg) rotateX(8deg);
  }
  100% {
    transform: perspective(900px) rotateY(0deg) rotateX(8deg);
  }
}

.landingSpinner .char {
  font-family: Courier;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  color: black;
  font-size: 4em;
  padding: 5px 12px;
  border-top: 4px solid green;
  border-bottom: 4px solid green;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(250px);
  text-shadow: 500px 150px 0 rgba(255, 255, 255, 0.5),
    300px 150px 10px rgba(255, 255, 255, 0.5),
    150px 600px 0 rgba(255, 255, 255, 0.5),
    600px 50px 0 rgba(255, 255, 255, 0.5),
    400px 350px 0 rgba(255, 255, 255, 0.5),
    200px 500px 0 rgba(255, 255, 255, 0.5),
    500px -150px 0 rgba(255, 255, 255, 0.5),
    300px -150px 10px rgba(255, 255, 255, 0.5),
    150px -600px 0 rgba(255, 255, 255, 0.5),
    600px -50px 0 rgba(255, 255, 255, 0.5),
    400px -350px 0 rgba(255, 255, 255, 0.5),
    200px -500px 0 rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 600px) {
  .landingSpinner .char {
    font-size: 1.5em;
    transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(130px);
    text-shadow: 250px 75px 0 rgba(255, 255, 255, 0.5),
      150px 75px 10px rgba(255, 255, 255, 0.5),
      75px 300px 0 rgba(255, 255, 255, 0.5),
      300px 25px 0 rgba(255, 255, 255, 0.5),
      200px 175px 0 rgba(255, 255, 255, 0.5),
      200px 250px 0 rgba(255, 255, 255, 0.5),
      250px -75px 0 rgba(255, 255, 255, 0.5),
      150px -75px 10px rgba(255, 255, 255, 0.5),
      75px -300px 0 rgba(255, 255, 255, 0.5),
      300px -25px 0 rgba(255, 255, 255, 0.5),
      200px -175px 0 rgba(255, 255, 255, 0.5),
      200px -250px 0 rgba(255, 255, 255, 0.5);
  }
}

.back {
  width: 100%;
  height: 100%;
  background: black;
}

#dash {
  color: white;
}
