.navbar {
  overflow: hidden;
  background-color: mediumblue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
